* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body {
  background-color: rgb(251, 252, 252);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: Center;
}

h2 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: justify;
}

h3 {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: justify;
}

h4 {
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.first {
  color: rgb(0, 6, 0);
}

p { 
    margin-top: 25px;
    margin bottom: 25px;
    text-align: justify;
}


#fill-form {
  background-color: rgb(171, 219, 220);
  border: 5px solid rgb(1, 1, 16);
  margin-top: 25px;
  margin bottom: 25px;
  padding: 20px;
  text-align: center;
}

input, button  {
    padding: 10px;
    font-family: Helvetica;
    text-align: center;
}

#fill-form h2 {
    color:rgb(1, 1, 18);
}

img {
    width: 300px;
    height: 300px;
  }

.image-lg {
  width: 600px;
  height: 400px;
  float: right;
}

.image-class {
  width: 200px;
  height: 200px;
  float: right;
}